@charset "UTF-8";
/* CSS Document */
/* header */
		.header{ width: 100%; background:#fafafa;
				border-bottom:1px solid #dfdfdf;margin-bottom:23px;}
		.header .nav{ width: 930px; margin:0 auto;}
		.header .nav a{ color:#8c8c8c; }
		.header a:hover{ color:#222; }
		.header .nav .l-nav{ float:left; padding:12px 0; }
		.header .l-nav li{ float:left;height:12px; padding:0 16px 0 13px;
							border-right:1px solid #dfdfdf; }
		.header .l-nav .padding{ padding-left:0; }
		.header .l-nav .r-border{ border:none; }
		.header .r-nav{ float:right;padding:12px 0; }
		.header .r-nav .a1{ padding-right:11px;margin-right:9px;
							border-right:1px solid #dfdfdf; }
	/* header-end */
